In [120]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [121]:
th_list = []
tr_list = []
td_list = []

url = 'https://www.numbeo.com/quality-of-life/rankings_by_country.jsp'
r = requests.get(url)

soup = BeautifulSoup(r.text, 'html.parser')

thead = soup.find('thead')

ths = thead.find_all('th')

for th in ths:
    th_list.append(th.text)

tbody = soup.find('tbody')

trs = tbody.find_all('tr')

for tr in trs:
    td_list = []
    tds = tr.find_all('td')
    for td in tds:
        td_list.append(td.text)
    tr_list.append(td_list)

In [122]:
df = pd.DataFrame(tr_list, columns=th_list)
df

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,,Switzerland,195.06,116.19,77.88,75.32,110.34,8.86,28.37,19.39,79.56
1,,Denmark,194.15,99.76,73.66,79.77,73.09,6.30,28.41,20.92,81.80
2,,Netherlands,191.46,99.58,72.43,75.93,67.71,7.36,26.63,24.72,86.92
3,,Australia,190.72,117.56,55.17,77.76,72.27,5.60,34.68,24.19,93.90
4,,Finland,186.84,91.00,73.16,76.75,63.75,7.54,27.58,12.02,56.64
...,...,...,...,...,...,...,...,...,...,...,...
82,,Venezuela,73.03,12.72,16.84,39.15,41.77,18.27,33.14,75.65,99.93
83,,Iran,69.38,18.03,50.25,52.31,36.49,28.62,46.72,75.22,65.69
84,,Sri Lanka,68.90,15.28,59.03,72.02,22.41,44.39,56.89,60.25,59.11
85,,Bangladesh,68.49,25.34,36.94,41.74,29.28,11.87,57.51,85.53,71.29
86,,Nigeria,45.13,8.25,35.91,48.49,30.01,22.35,63.39,88.09,60.75

In [123]:
countries = []
distances = []

url = 'https://www.distancefromto.net/distance-from-poland-country'
r = requests.get(url)

soup = BeautifulSoup(r.text, 'html.parser')

table = soup.find('table')

tds = table.find_all('td')

for i, td in enumerate(tds):
  if i % 3 == 0:
    countries.append(td.text.replace('Distance from ', '').replace(' to Poland', '').replace('Poland to ', ''))
  if i % 3 == 1:
    distances.append(td.text.replace(' km', ''))

In [124]:
df2 = pd.DataFrame()
df2['Country'] = countries
df2['Distance'] = distances
df2

                  Country Distance
0                 Andorra    1,686
1    United Arab Emirates    4,326
2             Afghanistan    4,327
3     Antigua and Barbuda    7,907
4                Anguilla    7,895
..                    ...      ...
245                Panama    9,933
246               Reunion    8,857
247          Saint Helena    7,922
248            San Marino    1,016
249                Taiwan    8,720

[250 rows x 2 columns]

In [125]:
df_merged = df.merge(df2,on='Country',how="left")
df_merged['Rank'] = range(1,88)
df_merged = df_merged.set_index('Rank')
df_merged

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Distance
Rank,,,,,,,,,,,
1,Switzerland,195.06,116.19,77.88,75.32,110.34,8.86,28.37,19.39,79.56,971
2,Denmark,194.15,99.76,73.66,79.77,73.09,6.30,28.41,20.92,81.80,792
3,Netherlands,191.46,99.58,72.43,75.93,67.71,7.36,26.63,24.72,86.92,947
4,Australia,190.72,117.56,55.17,77.76,72.27,5.60,34.68,24.19,93.90,"13,860"
5,Finland,186.84,91.00,73.16,76.75,63.75,7.54,27.58,12.02,56.64,"1,181"
...,...,...,...,...,...,...,...,...,...,...,...
83,Venezuela,73.03,12.72,16.84,39.15,41.77,18.27,33.14,75.65,99.93,"9,154"
84,Iran,69.38,18.03,50.25,52.31,36.49,28.62,46.72,75.22,65.69,"3,524"
85,Sri Lanka,68.90,15.28,59.03,72.02,22.41,44.39,56.89,60.25,59.11,"7,399"
86,Bangladesh,68.49,25.34,36.94,41.74,29.28,11.87,57.51,85.53,71.29,"6,686"
87,Nigeria,45.13,8.25,35.91,48.49,30.01,22.35,63.39,88.09,60.75,"4,858"

In [126]:
df_merged['Distance'] = df_merged['Distance'].astype(str).apply(lambda x: x.replace(',',''))
df_merged

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Distance
Rank,,,,,,,,,,,
1,Switzerland,195.06,116.19,77.88,75.32,110.34,8.86,28.37,19.39,79.56,971
2,Denmark,194.15,99.76,73.66,79.77,73.09,6.30,28.41,20.92,81.80,792
3,Netherlands,191.46,99.58,72.43,75.93,67.71,7.36,26.63,24.72,86.92,947
4,Australia,190.72,117.56,55.17,77.76,72.27,5.60,34.68,24.19,93.90,13860
5,Finland,186.84,91.00,73.16,76.75,63.75,7.54,27.58,12.02,56.64,1181
...,...,...,...,...,...,...,...,...,...,...,...
83,Venezuela,73.03,12.72,16.84,39.15,41.77,18.27,33.14,75.65,99.93,9154
84,Iran,69.38,18.03,50.25,52.31,36.49,28.62,46.72,75.22,65.69,3524
85,Sri Lanka,68.90,15.28,59.03,72.02,22.41,44.39,56.89,60.25,59.11,7399
86,Bangladesh,68.49,25.34,36.94,41.74,29.28,11.87,57.51,85.53,71.29,6686
87,Nigeria,45.13,8.25,35.91,48.49,30.01,22.35,63.39,88.09,60.75,4858

In [127]:
cols = df_merged.columns[1:]
df_merged[cols] = df_merged[cols].apply(pd.to_numeric, errors='coerce')
df_merged

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Distance
Rank,,,,,,,,,,,
1,Switzerland,195.06,116.19,77.88,75.32,110.34,8.86,28.37,19.39,79.56,971.0
2,Denmark,194.15,99.76,73.66,79.77,73.09,6.30,28.41,20.92,81.80,792.0
3,Netherlands,191.46,99.58,72.43,75.93,67.71,7.36,26.63,24.72,86.92,947.0
4,Australia,190.72,117.56,55.17,77.76,72.27,5.60,34.68,24.19,93.90,13860.0
5,Finland,186.84,91.00,73.16,76.75,63.75,7.54,27.58,12.02,56.64,1181.0
...,...,...,...,...,...,...,...,...,...,...,...
83,Venezuela,73.03,12.72,16.84,39.15,41.77,18.27,33.14,75.65,99.93,9154.0
84,Iran,69.38,18.03,50.25,52.31,36.49,28.62,46.72,75.22,65.69,3524.0
85,Sri Lanka,68.90,15.28,59.03,72.02,22.41,44.39,56.89,60.25,59.11,7399.0
86,Bangladesh,68.49,25.34,36.94,41.74,29.28,11.87,57.51,85.53,71.29,6686.0
87,Nigeria,45.13,8.25,35.91,48.49,30.01,22.35,63.39,88.09,60.75,4858.0

In [128]:
df_merged = df_merged[df_merged['Quality of Life Index'] > 132]
df_merged = df_merged[df_merged['Purchasing Power Index'] > 60]
df_merged = df_merged[df_merged['Safety Index'] > 60]
df_merged = df_merged[df_merged['Health Care Index'] > 50]
df_merged = df_merged[df_merged['Property Price to Income Ratio'] < 14]
df_merged = df_merged[df_merged['Climate Index'] > 50]
df_merged

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Distance
Rank,,,,,,,,,,,
1,Switzerland,195.06,116.19,77.88,75.32,110.34,8.86,28.37,19.39,79.56,971.0
2,Denmark,194.15,99.76,73.66,79.77,73.09,6.30,28.41,20.92,81.80,792.0
3,Netherlands,191.46,99.58,72.43,75.93,67.71,7.36,26.63,24.72,86.92,947.0
5,Finland,186.84,91.00,73.16,76.75,63.75,7.54,27.58,12.02,56.64,1181.0
6,Iceland,184.48,82.62,75.70,66.61,86.59,6.80,19.96,15.83,68.81,2592.0
7,Norway,179.63,86.27,66.49,77.08,85.93,7.83,26.87,17.99,68.68,1155.0
8,Germany,178.32,102.75,62.99,72.45,59.62,10.60,31.14,28.14,82.92,607.0
9,Austria,178.06,75.09,73.18,76.19,64.11,10.88,25.38,22.16,77.15,590.0
12,Estonia,173.83,60.41,75.86,73.87,49.47,10.06,23.97,18.36,64.28,830.0
13,Luxembourg,173.76,96.13,64.42,71.54,72.15,13.95,31.66,24.10,82.62,941.0
15,Spain,173.01,77.29,65.03,78.14,47.51,7.49,29.20,39.08,93.65,2160.0
16,Japan,172.65,91.13,77.76,80.52,62.77,10.49,40.65,39.09,84.79,8576.0
17,Oman,172.12,78.78,80.28,58.23,48.11,4.59,22.63,36.76,67.22,4621.0
35,Israel,146.39,73.54,67.82,73.73,77.28,13.26,36.40,57.79,93.86,2651.0
40,Poland,132.16,60.65,67.87,54.57,35.06,13.49,32.32,60.06,76.03,NaN

In [129]:
df_merged.to_excel('life_quality_index.xlsx')